{% extends "layout.html" %}
{% block body %}

<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <h1 class="display-3 text-white mb-3 animated slideInDown">Current Journal</h1>
        <nav aria-label="breadcrumb animated slideInDown">
        </nav>
    </div>
</div>
<!-- Page Header End -->

<!-- Current Journals Start -->
<div class="container-xxl py-1">
    <div class="container">
        <div class="col-lg-12">
            <div class="mb-4">
                <button class="btn btn-primary w-100 mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#janoliJournals" aria-expanded="false" aria-controls="janoliJournals">
                    JANOLI International Journals
                </button>
                <div class="collapse" id="janoliJournals">
                    <div class="card card-body">
                        <ul class="list-unstyled">
                            <li><a href="https://www.janolijournals.org/jijaem/" target="_blank" class="text-decoration-none">JANOLI International Journal of Applied Engineering and Management (JIJAEM)</a></li>
                            <li><a href="https://www.janolijournals.org/jijecs/" target="_blank" class="text-decoration-none">JANOLI International Journal of Economic and Management Science (JIJEMS)</a></li>
                            <li><a href="https://www.janolijournals.org/jijaia/" target="_blank" class="text-decoration-none">JANOLI International Journal of Artificial Intelligence and its Applications (JIJAIA)</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Current Journals End -->


{% endblock %}