{% extends "layout.html" %}
{% block body %}

<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <h1 class="display-3 text-white mb-3 animated slideInDown">Upcoming Journals</h1>
        <nav aria-label="breadcrumb animated slideInDown">
        </nav>
    </div>
</div>
<!-- Page Header End -->

<!-- Upcoming Journals Start -->
<div class="container-xxl py-1">
    <div class="container">
        <div class="col-lg-12">
            <div class="mb-4">
                <button class="btn btn-primary w-100 mb-2" type="button" data-bs-toggle="collapse"
                    data-bs-target="#janoliJournals" aria-expanded="false" aria-controls="janoliJournals">
                    JANOLI International Journals
                </button>
                <div class="collapse" id="janoliJournals">
                    <div class="card card-body">
                        <ul class="list-unstyled">
                            <li><a href="https://www.janolijournals.org/jijcs/" target="_blank" class="text-decoration-none">JANOLI
                                    International Journal of Cyber Security (JIJCS)</a></li>
                            <li><a href="https://www.janolijournals.org/jijmldlsc/" target="_blank" class="text-decoration-none">JANOLI
                                    International Journal of Machine Learning, Deep Learning and Soft Computing
                                    (JIJMLDLS)</a></li>
                            <li><a href="https://www.janolijournals.org/jijmf/" target="_blank" class="text-decoration-none">JANOLI
                                    International Journal of Marketing and Finance (JIJMF)</a></li>
                            <li><a href="https://www.janolijournals.org/jijhrm/" target="_blank" class="text-decoration-none">JANOLI
                                    International Journal of Human Resource and Management (JIJHRM)</a></li>
                            <li><a href="https://www.janolijournals.org/jijhl/" target="_blank" class="text-decoration-none">JANOLI
                                    International Journal of Humanities and Languages (JIJHL)</a></li>
                            <li><a href="https://www.janolijournals.org/jijpc/" target="_blank" class="text-decoration-none">JANOLI
                                    International Journal of Pharmaceutical and Chemicals (JIJPC)</a></li>
                            <li><a href="https://www.janolijournals.org/jijp/" target="_blank" class="text-decoration-none">JANOLI
                                    International Journal of Physics ( JIJP )</a></li>
                            <li><a href="https://www.janolijournals.org/jijecse/" target="_blank" class="text-decoration-none">JANOLI
                                    International Journal of Electronics, Computer Sciences and Engineering (JIJECSE)</a></li>
                            <li><a href="https://www.janolijournals.org/jijbd/" target="_blank" class="text-decoration-none">JANOLI
                                    International Journal of Big Data (JIJBD)</a></li>
                            <li><a href="https://www.janolijournals.org/jijds/" target="_blank" class="text-decoration-none">JANOLI
                                    International Journal of Data Science (JIJDS)</a></li>
                            <li><a href="https://www.janolijournals.org/jijcse/" target="_blank" class="text-decoration-none">JANOLI
                                    International Journal of Computer Science and Engineering (JIJCSE)</a></li>
                            <li><a href="https://www.janolijournals.org/jijms/" target="_blank" class="text-decoration-none">JANOLI
                                    International Journal of Mathematical Sciences (JIJMS)</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Upcoming Journals End -->

{% endblock %}