{% extends "layout.html" %}
{% block body %}

<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <h1 class="display-3 text-white mb-3 animated slideInDown">Membership Benifits</h1>
        <nav aria-label="breadcrumb animated slideInDown">
        </nav>
    </div>
</div>
<!-- Page Header End -->

<!-- Membership Benefits Start -->
<div class="container-xxl py-1">
    <div class="container">
        <div class="col-lg-12">
            <p class="mb-4">
                Shanti Educational Research Foundation, India
                Membership Benefits for Shanti Educational Research Foundation (SERF), Jaipur, India
            </p>
            <p class="mb-4">
                Shanti Educational Research Foundation (SERF) is committed to fostering excellence in research,
                education, and professional development. We offer two types of membership—Annual Membership and Lifetime
                Membership—each providing a range of exclusive benefits related to publication, international
                conferences, and award nominations.
            </p>
            <div class="mb-4">
                <button class="btn btn-primary w-100 mb-2" type="button" data-bs-toggle="collapse"
                    data-bs-target="#termMembershipDetails" aria-expanded="false" aria-controls="termMembershipDetails">
                    Term Membership Benefits
                </button>
                <div class="collapse" id="termMembershipDetails">
                    <div class="card card-body">
                        Eligibility: Open to individuals who wish to work with SERF for a fixed term. <br>
                        Validity: membership fee for 5 years <br>
                        Fees: 5000.00 (Indian Applicants) <br>
                        &nbsp; &nbsp; &nbsp; &nbsp; : $210.00 (Non-Indian Applicants) <br>
                        <br>
                        Publication Benefits: <br>
                        • 50% discount on publication charges for JANOLI International Journals <br>
                        • Complimentary editing and proofreading support for submitted manuscripts. <br>
                        • Dedicated research guidance for improving publication success rates. <br>
                        <br>
                        International Conference Participation: <br>
                        • 15% discount on conference registration fees for all SERF-organized international conferences
                        (India/ abroad). <br>
                        • Complimentary access to select SERF workshops and networking events. <br>
                        • Opportunity to serve as a session chair or keynote speaker at SERF conferences. <br>
                        • Personalized mentorship for research paper submissions and conference presentations. <br>
                        • Exclusive access to premium conference materials, including expert panel discussions. <br>
                        Awards & Recognition: <br>
                        • Automatic consideration for awards in all categories. <br>
                        • Lifetime members' research contributions will be featured in an annual SERF publication
                        showcase. <br>
                        • Name displayed on the SERF website as a term Member and Contributor. <br>
                        Additional Membership Privileges: <br>
                        • Access to a global network of researchers and professionals. <br>
                        • Opportunities to collaborate on funded research projects. <br>
                        • Exclusive access to research grants and funding opportunities provided by SERF. <br>
                        • Subscription to SERF newsletters and industry reports containing the latest academic insights.
                        <br>
                        • Priority consideration for leadership roles within SERF committees and research groups. <br>
                        Join SERF today and become part of a thriving research community dedicated to innovation and
                        academic excellence!
                    </div>
                </div>
            </div>
            <div class="mb-4">
                <button class="btn btn-primary w-100 mb-2" type="button" data-bs-toggle="collapse"
                    data-bs-target="#annualMembershipDetails" aria-expanded="false"
                    aria-controls="annualMembershipDetails">
                    Annual Membership Benefits ( During conference organised/co-organised by SERF, India )
                </button>
                <div class="collapse" id="annualMembershipDetails">
                    <div class="card card-body">
                        Eligibility: Open to academicians, researchers, industry professionals, and students. <br>
                        Validity: One year from the date of enrolment. <br>
                        Fees: 1000.00 (Indian Applicants) <br>
                        &nbsp; &nbsp; &nbsp; &nbsp; : $100.00 (Non-Indian Applicants) <br>
                        Publication Benefits: <br>
                        • 10% discount on publication charges for JANOLI International Journals. <br>
                        • Priority processing of research papers for peer review. <br>
                        • Opportunity to receive expert feedback on submitted research papers before final review. <br>
                        International Conference Participation: <br>
                        • 10% discount on conference registration fees for all SERF-organized international conferences.
                        <br>
                        • Exclusive invitations to SERF-hosted workshops, seminars, and networking sessions. <br>
                        • Opportunity to present research at SERF-sponsored events with reduced processing fees. <br>
                        • Access to post-conference proceedings and recorded sessions for future reference. <br>
                        • Special recognition for the best presentations and research contributions. <br>
                        Awards & Recognition: <br>
                        • Eligibility to be nominated for all annual academic awards. <br>
                        • Consideration for “Best Paper Award” at SERF conferences.
                        • Recognition on the SERF website for outstanding contributions.
                        • Certificate of Appreciation for active participation in SERF activities.
                    </div>
                </div>
            </div>
            <div class="mb-4">
                <button class="btn btn-primary w-100 mb-2" type="button" data-bs-toggle="collapse"
                    data-bs-target="#lifetimeMembershipDetails" aria-expanded="false"
                    aria-controls="lifetimeMembershipDetails">
                    Lifetime Membership Benefits
                </button>
                <div class="collapse" id="lifetimeMembershipDetails">
                    <div class="card card-body">
                        Eligibility: Open to academicians, researchers, industry professionals, and students. <br>
                        Validity: One time in life from the date of enrolment. <br>
                        Fees: 8000.00 (Indian Applicants) <br>
                        &nbsp; &nbsp; &nbsp; &nbsp; : $300.00 (Non-Indian Applicants) <br>
                        Publication Benefits: <br>
                        • 50% discount on publication charges for JANOLI International Journals. <br>
                        • Priority in the processing of research papers for peer review. <br>
                        • Free access to select published articles and research papers. <br>
                        • Assistance with manuscript formatting and adherence to journal guidelines. <br>
                        • Opportunity to receive expert feedback on submitted research papers before final review. <br>
                        International Conference Participation: <br>
                        • 20% discount on conference registration fees for all SERF-organized international conferences.
                        <br>
                        • Exclusive invitations to SERF-hosted workshops, seminars, and networking sessions. <br>
                        • Access to post-conference proceedings and recorded sessions for future reference. <br>
                        • Special recognition for the best presentations and research contributions. <br>
                        Awards & Recognition: <br>
                        • Eligibility to be nominated for all annual academic awards. <br>
                        • Consideration for editorial/ reviewer board member in JANOLI International Journals and Abhi
                        International Journals.. <br>
                    </div>
                </div>
            </div>
            <p class="mb-4">
                Account details: <br>
                Account holder: Shanti Educational Research Foundation <br>
                Name of Bank: Canara Bank <br>
                Branch: Heera Path, Mansarovar, Jaipur <br>
                Account number: 120002559652 <br>
                IFSC code: CNRB0002794 <br>

            </p>
        </div>
    </div>
</div>
<!-- Membership Benefits End -->

{% endblock %}